In [15]:
import pandas as pd

df = pd.read_csv('matchups_2024.csv')
df

,game_id,away_team_id,home_team_id,team_id,team_name,team_city,team_tricode,team_slug,person_id,first_name,...,matchup_three_pointers_made,matchup_three_pointers_attempted,matchup_three_pointers_percentage,help_blocks,help_field_goals_made,help_field_goals_attempted,help_field_goals_percentage,matchup_free_throws_made,matchup_free_throws_attempted,shooting_fouls
0,22400001,1610612737,1610612738,1610612738,Celtics,Boston,BOS,celtics,1627759,Jaylen,...,0,0,0.0,0,0,0,0,0,0,0
1,22400001,1610612737,1610612738,1610612738,Celtics,Boston,BOS,celtics,1627759,Jaylen,...,0,0,0.0,0,0,0,0,1,2,1
2,22400001,1610612737,1610612738,1610612738,Celtics,Boston,BOS,celtics,1627759,Jaylen,...,3,5,0.6,0,0,0,0,3,4,2
3,22400001,1610612737,1610612738,1610612738,Celtics,Boston,BOS,celtics,1627759,Jaylen,...,0,0,0.0,0,0,0,0,0,0,0
4,22400001,1610612737,1610612738,1610612738,Celtics,Boston,BOS,celtics,1627759,Jaylen,...,0,0,0.0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231956,22401230,1610612745,1610612760,1610612745,Rockets,Houston,HOU,rockets,1628988,Aaron,...,0,0,0.0,0,0,0,0,0,0,0
231957,22401230,1610612745,1610612760,1610612745,Rockets,Houston,HOU,rockets,1628988,Aaron,...,0,0,0.0,0,0,0,0,0,0,0
231958,22401230,1610612745,1610612760,1610612745,Rockets,Houston,HOU,rockets,1628988,Aaron,...,0,0,0.0,0,0,0,0,0,0,0
231959,22401230,1610612745,1610612760,1610612745,Rockets,Houston,HOU,rockets,1628988,Aaron,...,0,0,0.0,0,0,0,0,0,0,0
231960,22401230,1610612745,1610612760,1610612745,Rockets,Houston,HOU,rockets,1628988,Aaron,...,0,0,0.0,0,0,0,0,0,0,0

In [ ]:
# Drop the 'game_id' column
df = df.drop(columns=['game_id'])

# Grouping keys
group_keys = ['person_id', 'matchups_person_id']

# Define columns to exclude from numeric aggregation
excluded_columns = group_keys + ['away_team_id', 'home_team_id', 'team_id', 'jersey_num', 'matchups_jersey_num']

# Identify numeric and categorical columns
numeric_cols = [col for col in df.select_dtypes(include='number').columns if col not in excluded_columns]
categorical_cols = [col for col in df.columns if col not in numeric_cols and col not in group_keys]

# Aggregate: sum numeric columns, take first for categorical
numeric_agg = df.groupby(group_keys)[numeric_cols].sum().reset_index()
categorical_agg = df.groupby(group_keys)[categorical_cols].first().reset_index()

# Merge the two on grouping keys
aggregated_df = pd.merge(categorical_agg, numeric_agg, on=group_keys, how='left')

# Reorder columns to match the original df (excluding dropped 'game_id')
final_column_order = [col for col in df.columns if col in aggregated_df.columns]
aggregated_df = aggregated_df[final_column_order]

# Save to CSV
aggregated_df.to_csv("matchups_2024_agg.csv", index=False)